@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&display=swap");

body {
  background-color: #ffefba;
  font-family: "IBM Plex Serif", serif;
}

.container {
  margin-top: 50px;
  border-radius: 20px;
}

.logo {
  width: 100px;
}
